html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    touch-action: none;
}

footer {
    margin: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.credit-container {
    padding: 10px 30px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.credit-button {
    background-color: white;
    color: gray;
    border-radius: 5px;
    font-size: medium;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid gray;
}

.credit-button:hover {
    background-color: lightgray;
    color: black;
}